@import java.util
@import models.OrderData
@import models.User

@(user: User, orderList: util.List[OrderData])(implicit request: Http.Request, messages: play.i18n.Messages)
@main("EZCollect ", user, 2) {
} {
    <section class="dashboard section">
            <!-- Container Start -->
        <div class="container">
                <!-- Row Start -->
            <div class="row justify-content-center">
                <h5>@if(user.store != null){@user.store.storeName |} @user.userName </h5>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                        <!-- Client -->
                    @if(user.store == null) {
                        <div class="widget dashboard-container my-adslist">
                            <h3 class="widget-header">Pending orders</h3>
                            <table class="table table-responsive product-dashboard-table">
                                <thead>
                                    <tr>
                                        <th>Product Title</th>
                                        <th class="text-center">Pick Up Info</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(order: OrderData <- orderList) {
                                    <tr>
                                        <td class="product-details">
                                            <h3 class="title">Order ID: @order.orderId </h3>
                                            <span class="add-id"><strong>Customer Name: </strong>
                                                @order.customerName </span>
                                            <span><strong>Phone Number: </strong>
                                                <time>@order.customerPhoneNumber </time> </span>
                                            <span class="status active"><strong>Preparation Time (Min): </strong>
                                                @order.preparationTime </span>
                                            <span class="location"><strong>Parcel Size: </strong>
                                                @order.parcelSize </span>
                                        </td>
                                        <td class="product-category"><span class="categories">
                                        @if(order.pickupTime != null) {
                                            <span><strong>Pick Up Time: </strong><time>@order.pickupTime </time></span>
                                            <span class="status active"><strong>Pick Up Address: </strong>@order.pickupStore.storeAddress </span>
                                        } else {
                                            <span><strong>Pick Up not scheduled </strong></span>
                                        }

                                        </span>
                                        </td>
                                        <td class="action" data-title="Action">
                                            <div class="">
                                                <ul class="list-inline justify-content-center">
                                                    <li class="list-inline-item">
                                                        <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="@routes.HomeController.orderPage(order.orderId)">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="edit" data-toggle="tooltip" data-placement="top" title="Edit Pick Up Time" href="@routes.HomeController.scheduleOrderPage(order.orderId,"0")">
                                                            <i class="fa fa-pencil"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    } else {
                            <!-- Shop   -->
                        <div class="widget dashboard-container my-adslist">
                            <h3 class="widget-header">@user.store.storeName Orders</h3>
                            <table class="table table-responsive product-dashboard-table">
                                <thead>
                                    <tr>
                                        <th>Client Info</th>
                                        <th class="text-center">Pick Up Info</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(orderList.size() == 0) {
                                        <tr><td class="product-details text-center" colspan="3">No orders pending.</td></tr>
                                    }
                                    @for(order: OrderData <- orderList) {
                                        <tr>
                                            <td class="product-details">
                                                <h3 class="title">Order ID: @order.orderId </h3>
                                                <span class="add-id"><strong>Customer Name: </strong>@order.customerName </span>
                                                <span><strong>Phone Number: </strong><time>@order.customerPhoneNumber </time></span>
                                                <span><strong>Customer Email: </strong>@order.customerEmailAddress </span>
                                            </td>
                                            <td class="product-category"><span class="categories">
                                                <span class="location"><strong>Preparation Time (Min): </strong><time>@order.preparationTime </time></span>
                                                <span><strong>Pick Up Time: </strong><time>@order.pickupTime </time></span>
                                                <span><strong>Parcel Size: </strong>@order.parcelSize </span>
                                            </span></td>
                                            <td class="action" data-title="Action">
                                                <div class="">
                                                    <ul class="list-inline justify-content-center">
                                                        <li class="list-inline-item">
                                                            <a data-toggle="tooltip" data-placement="top" title="view" class="view" href="@routes.HomeController.orderPage(order.orderId)">
                                                                <i class="fa fa-eye"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    }
                </div>
            </div>
                <!-- Row End -->
        </div>
            <!-- Container End -->
    </section>
}
