@import java.util
@import models.OrderData
@import java.time.format.DateTimeFormatter

@(user: User, order: OrderData, entries: util.List[OrderEntry])(implicit request: Http.Request, messages: play.i18n.Messages)
    @main("EZCollect | Order " + order.orderId, user, 3) {
    } {
        <section class="dashboard section">
                <!-- Container Start -->
            <div class="container">
                    <!-- Row Start -->
                <div class="row justify-content-center">
                    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
                            <!-- Client Order -->
                        <div class="widget dashboard-container my-adslist">
                            <h3 class="widget-header">Order Number: @order.orderId </h3>
                            @if(user.store != null) {
                                <h3 class="widget-header">
                                    Number Of Employees: @if(order.parcelSize.equals("L")) {2} else {1} </h3>
                            }
                            <h3 class="widget-header">@if(order.pickupTime == null) {Pick Up not scheduled} else {Pick Up Time: @order.pickupTime.format(DateTimeFormatter.ofPattern("yyyy-MM-dd HH:mm:ss"))}
                                <a class="btn scheduling-a-time ml-auto @if(order.pickupTime != null && order.pickupTime.toLocalDate.equals(java.time.LocalDate.now())) {disabled}" href="@routes.HomeController.scheduleOrderPage(order.orderId)">
                                    Schedule Pick Up</a> </h3>
                            <table class="table table-responsive product-dashboard-table">
                                <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>Product Title </th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(entry: OrderEntry <- entries) {
                                    <tr>
                                        <td class="product-thumb">
                                            <img width="80px" height="auto" src="" alt="image description"></td>
                                        <td class="product-details">
                                            <h3 class="title">@entry.productName </h3>
                                            <span class="add-id d-inline mr-2 oneOnTop"><strong>Product ID: </strong>
                                                @entry.productId </span>
                                            <span class="d-inline mr-2 oneOnTop"><strong>Quantity: </strong>
                                                <time>@entry.quantity </time> </span>
                                            <span class="d-inline oneOnTop"><strong>Total Entry Price: </strong>
                                                <time>@entry.totalEntryPrice </time> </span>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>

                        </div>
                        @if(user.store != null) {
                            <div class="CenterButtons">
                                <form>
                                    <button class="btn login-button">Start Preparing</button>
                                    <button class="btn login-button">Complete Order</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
                    <!-- Row End -->
            </div>
                <!-- Container End -->
        </section>
    }
