@import java.util
@import models.User

@(user: User,stores: util.List[Store])(implicit request: Http.Request, messages: play.i18n.Messages)
@main("EZCollect ", user, 2) {
} {
    <section class="dashboard section">
        <!-- Container Start -->
      <div class="container">
          <!-- Row Start -->
        <div class="row justify-content-center">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
              <!-- Client Order -->
            <div class="widget dashboard-container my-adslist">
              <table class="table table-responsive product-dashboard-table">
                <thead>
                  <tr>
                    <th>Time</th>
                    <th class="text-center">Wed<br>01/26</th>
                    <th class="text-center">Thu<br>01/26</th>
                    <th class="text-center">Fri<br>01/26</th>
                    <th class="text-center">Sat<br>01/26</th>
                    <th class="text-center">Sun<br>01/26</th>
                    <th class="text-center">Mon<br>01/26</th>
                    <th class="text-center">Tue<br>01/26</th>
                    <th>Day 8</th>
                    <th>Day 9</th>
                    <th>Day 10</th>
                    <th>Day 11</th>
                    <th>Day 12</th>
                    <th>Day 13</th>
                    <th>Day 14</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="p-0">
                    <td class="p-0 text-center">9:00</td>
                    <td class="p-0 scheduling-a"><a class="btn scheduling-button">9:00 10:00</a></td>
                    <td class="p-0 scheduling-a"><a class="btn scheduling-button">9:00 10:00</a></td>
                    <td class="p-0 scheduling-a"><a class="btn scheduling-button">9:00 10:00</a></td>
                    <td class="p-0 scheduling-a"></td>
                    <td class="p-0 scheduling-a"></td>
                    <td class="p-0 scheduling-a"><a class="btn scheduling-button">9:00 10:00</a></td>
                    <td class="p-0 scheduling-a"><a class="btn scheduling-button">9:00 10:00</a></td>
                  </tr>
                  <tr class="p-0">
                    <td class="p-0 text-center">10:00</td>
                    <td class="p-0"><a class="btn scheduling-button scheduling-a">10:00 11:00</a></td>
                    <td class="p-0"></td>
                    <td class="p-0"><a class="btn scheduling-button scheduling-a">10:00 11:00</a></td>
                    <td class="p-0"><a class="btn scheduling-button scheduling-a">10:00 11:00</a></td>
                    <td class="p-0"><a class="btn scheduling-button scheduling-a">10:00 11:00</a></td>
                    <td class="p-0"><a class="btn scheduling-button scheduling-a">10:00 11:00</a></td>
                    <td class="p-0"><a class="btn scheduling-button scheduling-a">10:00 11:00</a></td>
                  </tr>
                </tbody>
              </table>

            </div>
              <!-- Shop Order -->
            <div class="widget dashboard-container my-adslist">
              <h3 class="widget-header">Order Number: </h3>
              <h3 class="widget-header">Number Of Employees: </h3>
              <h3 class="widget-header">Pick Up Time: </h3>
              <table class="table table-responsive product-dashboard-table">
                <thead>
                  <tr>
                    <th>Picture</th>
                    <th>Product Title</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                    <td class="product-thumb">
                      <img width="80px" height="auto" src="../../../../Downloads/classimax-premium/themes/classimax-premium/images/products/products-2.jpg" alt="image description"></td>
                    <td class="product-details">
                      <h3 class="title">Product Name</h3>
                      <span class="add-id d-inline mr-2 oneOnTop"><strong>Product ID: </strong>59061770</span>
                      <span class="d-inline mr-2 oneOnTop"><strong>Quantity: </strong><time>1</time> </span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="CenterButtons">
              <form>
                <button class="btn login-button">Start Preparing</button>
                <button class="btn login-button">Complete Order</button>
              </form>
            </div>


          </div>
        </div>
          <!-- Row End -->
      </div>
        <!-- Container End -->
    </section>
}
